[submodule "water"]
	path = water
	url = https://github.com/jakubDoka/water
[submodule "subcommands/lsp/tree-sitter"]
	path = subcommands/lsp/tree-sitter
	url = https://github.com/jakubDoka/tree-sitter-catalyst.git
